name: Deploy to Vultr

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: nghialio/testdeploy-app:latest

      #  Gi岷i m茫 private key OpenSSH (ED25519/ECDSA) c贸 passphrase sang b岷n t岷m kh么ng passphrase
      - name: Prepare SSH key
        run: |
          echo "${{ secrets.VULTR_SSH_KEY }}" > id_key.enc
          echo "${{ secrets.VULTR_SSH_PASSPHRASE }}" > pass.txt
          # remove passphrase -> t岷o key m峄i kh么ng c贸 pass
          ssh-keygen -p -f id_key.enc -m PEM -N "" -P $(cat pass.txt)
          mv id_key.enc id_key
          chmod 600 id_key
          eval "$(ssh-agent -s)"
          ssh-add id_key

      - name: Deploy on Vultr
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.VULTR_USER }}@${{ secrets.VULTR_HOST }} << 'EOF'
          cd ~/myapp
          docker compose -f docker-compose.prod.yml pull
          docker compose -f docker-compose.prod.yml up -d
          EOF
